body {
    background-color: chartreuse;
}
h1 {
    color: #3e3ecc;
}
button {
    border: none;
    color: fuchsia;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
input {
    color: #0e4d3b;
}
input[type="value"] {
    color: blueviolet;
}